.containers{
   
}
.content {

}
.content-column {
   
   
    
    
}
.content-column img{
   
}
/* .class-img{
  position: relative;
 
  top: 40%;
  z-index: 2;
  width: 50%;
}
.end{
    text-align: end;
} */


